<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Give me the below information, and I'll mash it into a Madlib.</h1>
    <form action="/MadlibA" method="post">
     <label for="noun1">A Noun</label>
     <input id="noun1" name="noun1" type="text"><br>

     <label for="verb1">A Verb</label>
     <input id="verb1" name="verb1" type="text"><br>

     <label for="adjective1">An Adjective</label>
     <input id="adjective1" name="adjective1" type="text"><br>

     <label for="noun2">A Noun</label>
     <input id="noun2" name="noun2" type="text"><br>
     
     <label for="noun3">A Noun</label>
     <input id="noun3" name="noun3" type="text"><br>
     
     <label for="adjective2">An Adjective</label>
     <input id="adjective2" name="adjective2" type="text"><br>

     <button type="submit">Go!</button>
    </form>
  </body>
</html>