<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Give me the below information, and I'll mash it into a Madlib.</h1>
    <form action="/MadlibB" method="post">
     <label for="color1">A color</label>
     <input id="color1" name="color1" type="text"><br>

     <label for="verb1">An active verb</label>
     <input id="verb1" name="verb1" type="text"><br>

     <label for="liquid">A liquid</label>
     <input id="liquid" name="liquid" type="text"><br>

     <label for="noun2">Another noun</label>
     <input id="noun2" name="noun2" type="text"><br>
     
     <label for="noun3">A past tense verb</label>
     <input id="pastverb" name="pastverb" type="text"><br>
     
     <label for="time">An amount of time </label>
     <input id="time" name="time" type="text"><br>

     <button type="submit">Go!</button>
    </form>
  </body>
</html>