<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Hi! I have two madlibs you can choose from: </h1><br>
    <p>A <a href="/FormA">wierd</a> experience I had today.</a></p><br>
    <p>or,</p><br>
    <p>A <a href="/FormB">cool</a> experience I had today.</p>
  </body>
</html>